.glitch {
    display: inline-block;
    animation: glitch 5s infinite;
}

@keyframes glitch {
    0%, 2.9% {
        text-shadow: -5px 0 red, 5px 0 blue, 0 3px red, 0 -3px blue;
        transform: translate(5px, 0);
    }

    3%, 4.9% {
        text-shadow: 5px 0 red, -5px 0 blue, 0 3px red, 0 -3px blue;
        transform: translate(-5px, 0);
    }

    5%, 9.9% {
        text-shadow: -5px 0 red, 5px 0 blue, 0px 3px red, 0px -3px blue;
        transform: translate(5px, 0);
    }

    10% {
        text-shadow: none;
        transform: translate(0, 0);
    }
}